@model IEnumerable<CRUD.Models.books>

@{
    ViewBag.Title = "Index";
}

<h2>Holiii</h2>

<p>
    @Html.ActionLink("Create New", "Create","", new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }, new { @class = "btn btn-warning" })) |
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-primary" })) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-danger" }))
        </td>
    </tr>
}

</table>
